<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 7</title>
</head>
<body>
<h1>List of Areas</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Number of Locations</th>
        <th>Average Measurement</th>
    </tr>
    {% for area in all_areas %}
        <tr>
            <td>{{ area.id }}</td>
            <td>{{ area.name }}</td>
            <td>{{ area.number_of_locations }}</td>
            {% if area.number_of_locations == 0 %}
                <td>------------------------</td>
            {% else %}
                <td>{{ area.average_measurement|floatformat:3 }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
</body>
</html>